* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 verdana, Serif; 
}
#page-wrap {
	margin: 30px;
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%;	
		border-collapse: collapse;		 
	}		
	
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
		/* border: 0.5px solid black; */
	}
	th { 
		background: #D8BFD8; 
		color: black; 
		font-weight: bold;
		text-align:center;
		/* border: 0.5px solid black; */			
	}
	td{ 		 
		/* border: 0.5px solid black;  */		
		text-align:center;
	}
	
	